.link {
  margin-left: 10px;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
